.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

.footer span{
    color: #bcfd4c;
    font-weight: 500;
}